/*// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
@import "bootstrap-sprockets";
@import "bootstrap";


.product_img {
  height: 150px;
  width: 150px;
}

.col-md-2 {
  background-image: "backgrounsetc-starfield-1.jpg";
  padding: 10px;
}

.sale_note {
  font-family: 'Indie Flower', cursive; 
  font-weight: 600;
  font-style: italic;
  font-size: 20px;
  color: red;
  padding-left: 10px;
}

.price_after_tax, .item_tax, .sale_note{
  text-align: right;
}

.item_attr_not_below_img {
  text-align: left;
}

.item_attr_below_img {
  text-align: left;
}

.price_after_tax, .item_tax, .sale_note, .item_update_note, .item_attr_not_below_img, .item_attr_below_img {
  max-width: 200px;
}
