<h1> Index </h1>
<!-- image-responsive -->
  
<% Product.all.each do |row| %>

<div class = "col-md-3">
  
  <table> 
  
      <% @last_visible_column_index.times do |index| %>

        <tr>

          <td>

            <% if ["image", "id", "name"].exclude?(Product.column_names[index]) %>

              <b>
                <%= "#{Product.column_names[index].capitalize}: " %>
              </b>

            <% end %>             

            <% if Product.column_names[index]=="image" %>       
              
              <%= image_tag(  "#{row.attributes.to_a[index][1]}", class:"product_image") %>
            
            <% elsif Product.column_names[index]!="id" %>
              
              <%= "#{row.attributes.to_a[index][1]}" %>
            
            <% end %>

          </td>

        </tr>

      <% end %>

  </table>

</div>  

<% end %>